* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
}

nav {
  display: none;
}

.main-navigacija .main-meni {
  list-style: none;
  margin-top: 20px;
}

.main-navigacija .main-meni li {
  display: inline-block;
  margin: 15px;
}

.main-navigacija .main-meni li a {
  color: #767676;
  text-transform: uppercase;
  text-decoration: none;
}

.navigacija {
  color: #767676;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

.navigacija:hover {
  font-size: 19px;
  transition: 0.3s;
  padding-right: 5px;
}

.main-navigacija .main-meni .prijava-btn a {
  background-color: #fae008;
  border: 1px solid #fae008;
  padding: 10px;
  color: white !important;
  transition: 0.2s;
}

.main-navigacija .main-meni .prijava-btn a:hover {
  color: #fae008 !important;
  background-color: transparent;
}

.main-navigacija img {
  width: 100px;
  height: 100px;
  margin-top: 5px;
}

.main-navigacija img:hover {
  width: 110px;
  height: 110px;
  padding-right: 2.5px;
  transition: 0.3s;
}

.hero-sekcija {
  background-image: url("hthover.jpg");
  padding-top: 115px;
  padding-bottom: 115px;
  background-size: cover;
}

.hero-sekcija h1 {
  color: white;
  text-transform: uppercase;
  font-size: 52px;
  margin-bottom: 15px;
}

.hero-sekcija p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.hero-sekcija a {
  text-decoration: none;
}

.hero-sekcija .otkrij-više-btn {
  background-color: #fae008;
  border: 1px solid #fae008;
  position: absolute;
  padding: 10px;
  color: white !important;
  transition: 0.2s;
}

.hero-sekcija .otkrij-više-btn:hover {
  color: #fae008 !important;
  background-color: transparent;
}

.kontakti {
  padding-top: 115px;
  padding-bottom: 115px;
}

.kontakti p {
  text-align: center;
  color: #818181;
}

.kontakti h3 {
  text-align: center;
  color: #fae008;
  text-transform: uppercase;
  font-size: 18px;
}

.kontakti h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  color: #343434;
}

.kontakti .ts3 {
  background-color: #1b1f20;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  text-align: center;
  color: white;
  padding-bottom: 40px;
  transition: 0.2s;
  margin-top: 50px;
}

.kontakti .ts3:hover {
  cursor: pointer;
  background-color: #2e367c;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 13px 0 rgba(0,0,0,0.8);
  box-shadow: 0 0 13px 0 rgba(0,0,0,0.8);
}

.kontakti .ts3 h4 {
  text-transform: uppercase;
}

.kontakti .ts3 p {
  color: #b7b8b8;
}

.kontakti .ts3 a {
  color: white;
  display: inline-block;
  border: 2px solid white;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.kontakti .samp {
  background-color: #1b1f20;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  text-align: center;
  color: white;
  width: 420px;
  height: 560px;
  padding-bottom: 40px;
  transition: 0.2s;
  margin-top: 30px;
}

.kontakti .samp:hover {
  cursor: pointer;
  background-color: #cb5b00;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 13px 0 rgba(0,0,0,0.8);
  box-shadow: 0 0 13px 0 rgba(0,0,0,0.8);
}

.kontakti .samp h4 {
  text-transform: uppercase;
}

.kontakti .samp p {
  color: #b7b8b8;
}

.kontakti .samp a {
  color: white;
  display: inline-block;
  border: 2px solid white;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.kontakti .forum {
  background-color: #1b1f20;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  text-align: center;
  color: white;
  padding-bottom: 40px;
  transition: 0.2s;
  margin-top: 50px;
}

.kontakti .forum:hover {
  cursor: pointer;
  background-color: #6f8282;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 13px 0 rgba(0,0,0,0.8);
  box-shadow: 0 0 13px 0 rgba(0,0,0,0.8);
}

.kontakti .forum h4 {
  text-transform: uppercase;
}

.kontakti .forum p {
  color: #b7b8b8;
}

.kontakti .forum a {
  color: white;
  display: inline-block;
  border: 2px solid white;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.sveoht {
  text-align: center;
  background-image: url("pozadina.jpg");
  background-size: cover;
  padding-top: 100px;
  color: white;
}

.sveoht a {
  display: block;
  position: relative;
  bottom: -30px;
}

.sveoht p {
  text-align: center;
  color: white;
}

.sveoht h3 {
  text-align: center;
  color: #fae008;
  text-transform: uppercase;
  font-size: 18px;
}

.sveoht h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.sveoht .modal .modal-dialog {
  max-width: 700px;
}

.sveoht .modal .modal-dialog .modal-content {
  background: transparent;
  border: 0;
}

.sveoht .modal .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
}

.sveoht .modal .modal-dialog .modal-content .modal-header button {
  color: white;
  font-size: 20px;
}

.konkursi {
  padding-top: 115px;
  padding-bottom: 115px;
}

.konkursi p {
  text-align: center;
  color: #818181;
  font-size: 25px;
}

.konkursi h3 {
  text-align: center;
  color: #fae008;
  text-transform: uppercase;
  font-size: 28px;
}

.konkursi h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  color: #343434;
  font-weight: bold;
}

.konkursi p a {
  color: #fae008;
  font-weight: bold;
  text-decoration: none;
}

.komentari-igraca {
  padding-top: 75px;
  padding-bottom: 95px;
}

.komentari {
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 50px;
}

.pikiavatar {
  width: 230px;
  height: 170px;
  padding-left: 60px;
}

.naslov1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  color: #fae008;
  font-weight: bold;
}

.naslov2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  color: #343434;
  font-weight: bold;
}

.tekst1 {
  font-size: 35px;
  font-weight: bold;
  padding-left: 110px;
  padding-top: 20px;
}

.tekst2 {
  font-size: 25px;
  font-style: italic;
  padding-left: 105px;
  padding-top: 5px;
  color: #767676;
}

.tekst3 {
  font-style: italic;
  padding-left: -35px;
  padding-top: 5px;
}

.tekst1don {
  font-size: 35px;
  font-weight: bold;
  padding-left: 150px;
  padding-top: 20px;
}

.donavatar {
  width: 280px;
  height: 170px;
  padding-left: 100px;
}

.tekst2igrac {
  font-size: 25px;
  font-style: italic;
  padding-left: 170px;
  padding-top: 5px;
  color: #767676;
}

.igracavatar {
  width: 280px;
  height: 170px;
  padding-left: 120px;
}

.tekst3igrac {
  font-style: italic;
  padding-left: 35px;
  padding-top: 5px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #fae008;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fae008;
}

.contactcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.prijava {
  padding-top: 80px;
  padding-bottom: 115px;
}

.prijava p {
  text-align: center;
  color: #818181;
  font-size: 25px;
}

.prijava h3 {
  text-align: center;
  color: #fae008;
  text-transform: uppercase;
  font-size: 28px;
}

.prijava h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  color: #343434;
  font-weight: bold;
}

.zaduzenja h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  color: #343434;
  font-weight: bold;
}

.zaduzenja h3 {
  text-align: center;
  color: #fae008;
  text-transform: uppercase;
  font-size: 28px;
}

.zaduzenja p {
  text-align: center;
  color: #818181;
  font-size: 25px;
}

.zaduzenja a {
  text-decoration: none;
  color: #fae008;
  font-weight: bold;
}

.zaduzenja {
  padding-top: 115px;
}

@media screen and (max-width: 768px) {
  nav {
    display: inline-block;
  }
  
  .konkursi img {
    width: 360px;
    height: 200px;
  }

  .kontakti .samp {
    background-color: #1b1f20;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    text-align: center;
    color: white;
    width: 340px;
    height: 520px;
    padding-bottom: 40px;
    transition: 0.2s;
    margin-top: 30px;
  }

  .sveoht img {
    width: 250px;
    height: 150px;
  }

  iframe {
    width: 325px;
    height: 250px;
  }

  .komentari {
    padding-left: 0px;
  }
}

#hamnav {
  width: 100%;
  background: #000;
  position: sticky;
  top: 0;
}

#hamnav label, #hamburger { display: none; }

#hamitems { display: flex; }
#hamitems a {
  width: 20%;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: #fae008;
}

@media screen and (max-width: 768px){
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #fae008;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }

  header {
    display: none;
  }
}